.elementor-12 .elementor-element.elementor-element-a75f133>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-12 .elementor-element.elementor-element-a75f133 {
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #e5e5e5;
    transition: background- 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 7px 0px 7px 0px;
}

.elementor-12 .elementor-element.elementor-element-a75f133>.elementor-background-overlay {
    transition: background- 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-12 .elementor-element.elementor-element-7740ffcb.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-12 .elementor-element.elementor-element-7740ffcb.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: center;
}

.elementor-12 .elementor-element.elementor-element-7740ffcb>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-12 .elementor-element.elementor-element-7740ffcb>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-12 .elementor-element.elementor-element-347681e2,
.elementor-12 .elementor-element.elementor-element-347681e2 a,
.elementor-12 .elementor-element.elementor-element-347681e2 p {
    text-transform: capitalize;
}

.elementor-12 .elementor-element.elementor-element-5f4a4c57.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-12 .elementor-element.elementor-element-5f4a4c57.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: center;
    justify-content: flex-end;
}

.elementor-12 .elementor-element.elementor-element-5f4a4c57>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-12 .elementor-element.elementor-element-5f4a4c57>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-12 .elementor-element.elementor-element-43e4ece5 .linklist-toggle {
    margin-bottom: 0px;
}

.elementor-12 .elementor-element.elementor-element-43e4ece5 .linklist-menu>a {
    font-size: 14px;
    line-height: 6px;
    fill: #666666;
    color: #666666;
}

.elementor-12 .elementor-element.elementor-element-43e4ece5 .linklist-menu>link:hover {
    color: #ff5252;
}

.elementor-12 .elementor-element.elementor-element-43e4ece5>.elementor-widget-container {
    margin: 0px 15px 0px 0px;
    padding: 0px 15px 0px 0px;
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: #e5e5e5;
}

.elementor-12 .elementor-element.elementor-element-43e4ece5 {
    width: auto;
    max-width: auto;
}

.elementor-12 .elementor-element.elementor-element-40aceadd .linklist-toggle {
    margin-bottom: 0px;
}

.elementor-12 .elementor-element.elementor-element-40aceadd .linklist-menu>a {
    font-size: 14px;
    line-height: 6px;
    fill: #666666;
    color: #666666;
}

.elementor-12 .elementor-element.elementor-element-40aceadd .linklist-menu>link:hover {
    color: #ff5252;
}

.elementor-12 .elementor-element.elementor-element-40aceadd>.elementor-widget-container {
    margin: 0px 15px 0px 0px;
    padding: 0px 15px 0px 0px;
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: #e5e5e5;
}

.elementor-12 .elementor-element.elementor-element-40aceadd {
    width: auto;
    max-width: auto;
}

.elementor-12 .elementor-element.elementor-element-21adb50e .ava-dropdown-menu {
    width: 180px;
}

body:not(.rtl) .elementor-12 .elementor-element.elementor-element-21adb50e .ava-dropdown-toggle .icon-ava {
    margin-left: 7px;
}

body.rtl .elementor-12 .elementor-element.elementor-element-21adb50e .ava-dropdown-toggle .icon-ava {
    margin-right: 7px;
}

body:not(.rtl) .elementor-12 .elementor-element.elementor-element-21adb50e .ava-dropdown-toggle .ava-dropdown-toggle-text {
    margin-left: 5px;
}

body.rtl .elementor-12 .elementor-element.elementor-element-21adb50e .ava-dropdown-toggle .ava-dropdown-toggle-text {
    margin-right: 5px;
}

.elementor-12 .elementor-element.elementor-element-21adb50e .ava-dropdown-toggle {
    line-height: 23px;
}

.elementor-12 .elementor-element.elementor-element-21adb50e .ava-dropdown-menu>link:hover,
.elementor-12 .elementor-element.elementor-element-21adb50e .ava-dropdown-menu>a.selected {
    color: #ff5252;
    background-color: rgba(244, 244, 244, 0);
}

.elementor-12 .elementor-element.elementor-element-21adb50e .ava-dropdown-menu>a {
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #dddddd;
    padding: 8px 15px 8px 15px;
}

.elementor-12 .elementor-element.elementor-element-21adb50e>.elementor-widget-container {
    margin: 0px 15px 0px 0px;
    padding: 0px 15px 0px 0px;
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: #e5e5e5;
}

.elementor-12 .elementor-element.elementor-element-21adb50e {
    width: auto;
    max-width: auto;
}

.elementor-12 .elementor-element.elementor-element-52d13144 .ava-dropdown-menu {
    width: 180px;
}

body:not(.rtl) .elementor-12 .elementor-element.elementor-element-52d13144 .ava-dropdown-toggle .icon-ava {
    margin-left: 6px;
}

body.rtl .elementor-12 .elementor-element.elementor-element-52d13144 .ava-dropdown-toggle .icon-ava {
    margin-right: 6px;
}

.elementor-12 .elementor-element.elementor-element-52d13144 .ava-dropdown-toggle {
    line-height: 20px;
}

.elementor-12 .elementor-element.elementor-element-52d13144 .ava-dropdown-menu>link:hover,
.elementor-12 .elementor-element.elementor-element-52d13144 .ava-dropdown-menu>a.selected {
    color: #ff5252;
    background-color: rgba(244, 244, 244, 0);
}

.elementor-12 .elementor-element.elementor-element-52d13144 .ava-dropdown-menu>a {
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #dddddd;
}

.elementor-12 .elementor-element.elementor-element-52d13144 {
    width: auto;
    max-width: auto;
}

.elementor-12 .elementor-element.elementor-element-1677c978>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-12 .elementor-element.elementor-element-1677c978 {
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #e5e5e5;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 7px 0px 7px 0px;
}

.elementor-12 .elementor-element.elementor-element-1677c978>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-12 .elementor-element.elementor-element-25966d42.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-12 .elementor-element.elementor-element-25966d42.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: center;
}

.elementor-12 .elementor-element.elementor-element-25966d42>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-12 .elementor-element.elementor-element-25966d42>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-12 .elementor-element.elementor-element-3ae802fb .elementor-text-editor {
    text-align: center;
}

.elementor-12 .elementor-element.elementor-element-3ae802fb,
.elementor-12 .elementor-element.elementor-element-3ae802fb a,
.elementor-12 .elementor-element.elementor-element-3ae802fb p {
    text-transform: capitalize;
}

.elementor-12 .elementor-element.elementor-element-3d1ad8d6>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-12 .elementor-element.elementor-element-3d1ad8d6:not(.elementor-motion-effects-element-type-background),
.elementor-12 .elementor-element.elementor-element-3d1ad8d6>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #ffffff;
}

.elementor-12 .elementor-element.elementor-element-3d1ad8d6 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 23px 0px 23px 0px;
}

.elementor-12 .elementor-element.elementor-element-3d1ad8d6>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-12 .elementor-element.elementor-element-6aa715a0.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-12 .elementor-element.elementor-element-6aa715a0.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: center;
}

.elementor-12 .elementor-element.elementor-element-6aa715a0>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-12 .elementor-element.elementor-element-6aa715a0>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-12 .elementor-element.elementor-element-e2bfa5b {
    text-align: left;
}

.elementor-12 .elementor-element.elementor-element-e2bfa5b .elementor-image img {
    width: 222px;
    max-width: 100%;
}

.elementor-12 .elementor-element.elementor-element-7e3a3f4b.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-12 .elementor-element.elementor-element-7e3a3f4b.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: center;
    justify-content: center;
}

.elementor-12 .elementor-element.elementor-element-7e3a3f4b>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-12 .elementor-element.elementor-element-7e3a3f4b>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-12 .elementor-element.elementor-element-6ca596b7 .ava-search-bar .search-category-field {
    display: block;
}

.elementor-12 .elementor-element.elementor-element-6ca596b7 #avasearch_block.ava-search-bar #searchbox {
    width: 700px;
    height: 45px;
    max-height: 45px;
}

.elementor-12 .elementor-element.elementor-element-6ca596b7 #avasearch_block.ava-search-bar:not(.box-search) .search-dropdown {
    width: 700px;
}

.elementor-12 .elementor-element.elementor-element-6ca596b7 .ava-search-bar #searchbox .form-control,
.elementor-12 .elementor-element.elementor-element-6ca596b7 .ava-search-bar .search-button {
    font-size: 14px;
    font-weight: 400;
}

.elementor-12 .elementor-element.elementor-element-6ca596b7 .ava-search-bar #searchbox {
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #ff5252;
}

.elementor-12 .elementor-element.elementor-element-6ca596b7 .ava-search-bar #searchbox .form-control.query,
.elementor-12 .elementor-element.elementor-element-6ca596b7 .ava-search-bar #searchbox .form-control {
    height: 41px;
    max-height: 41px;
}

.elementor-12 .elementor-element.elementor-element-6ca596b7 .ava-search-bar #searchbox .search-button {
    height: 43px;
    max-height: 43px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 4px 22px 4px 022px;
    margin: -1px 0px 0px 0px;
}

.elementor-12 .elementor-element.elementor-element-6ca596b7 .ava-search-bar .search-button {
    color: #ffffff;
    background-color: #ff5252;
    border-radius: 0px 3px 3px 0px;
}

.elementor-12 .elementor-element.elementor-element-6ca596b7>.elementor-widget-container {
    margin: 0px 0px 0px 10px;
}

.elementor-12 .elementor-element.elementor-element-6ca596b7 {
    width: auto;
    max-width: auto;
}

.elementor-12 .elementor-element.elementor-element-4af7bdfc.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-12 .elementor-element.elementor-element-4af7bdfc.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: center;
    justify-content: flex-end;
}

.elementor-12 .elementor-element.elementor-element-4af7bdfc>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-12 .elementor-element.elementor-element-4af7bdfc>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-12 .elementor-element.elementor-element-3e72431a .elementor-account .elementor-button {
    gap: 7px;
}

.elementor-12 .elementor-element.elementor-element-3e72431a .elementor-nav--main {
    line-height: 22px;
}

.elementor-12 .elementor-element.elementor-element-3e72431a .elementor-nav--main a.elementor-item:not(#e) {
    color: #000000;
}

.elementor-12 .elementor-element.elementor-element-3e72431a .elementor-nav--main a.elementor-item.elementor-item-active:not(#e),
.elementor-12 .elementor-element.elementor-element-3e72431a .elementor-nav--main a.elementor-item.highlighted:not(#e),
.elementor-12 .elementor-element.elementor-element-3e72431a .elementor-nav--main a.elementor-item:not(#e):hover,
.elementor-12 .elementor-element.elementor-element-3e72431a .elementor-nav--main a.elementor-item:not(#e):focus {
    color: #ff5252;
}

.elementor-12 .elementor-element.elementor-element-3e72431a>.elementor-widget-container {
    margin: 0px 30px 0px 0px;
    padding: 5px 25px 5px 0px;
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: #e5e5e5;
}

.elementor-12 .elementor-element.elementor-element-3e72431a {
    width: auto;
    max-width: auto;
}

.elementor-12 .elementor-element.elementor-element-79e499c7 .btn-canvas i {
    font-size: 30px;
}

.elementor-12 .elementor-element.elementor-element-79e499c7 .btn-canvas svg {
    width: 30px;
    height: 30px;
}

.elementor-12 .elementor-element.elementor-element-79e499c7 .elementor-compare .elementor-compare-icon i {
    color: #111111;
}

.elementor-12 .elementor-element.elementor-element-79e499c7 .elementor-compare .elementor-compare-icon svg {
    fill: #111111;
}

.elementor-12 .elementor-element.elementor-element-79e499c7 .elementor-compare .elementor-compare-icon[data-counter]:before {
    color: #ffffff;
    background-color: #ff5252;
    top: -0.3em;
    right: calc(0em - 0.6em);
}

.elementor-12 .elementor-element.elementor-element-79e499c7>.elementor-widget-container {
    margin: 0px 22px 0px 0px;
}

.elementor-12 .elementor-element.elementor-element-79e499c7 {
    width: auto;
    max-width: auto;
}

.elementor-12 .elementor-element.elementor-element-286ee320 .elementor-wish .btn-canvas {
    gap: 0px;
}

.elementor-12 .elementor-element.elementor-element-286ee320 .btn-canvas .btn-canvas-text {
    margin: 0;
}

.elementor-12 .elementor-element.elementor-element-286ee320 .btn-canvas i {
    font-size: 28px;
}

.elementor-12 .elementor-element.elementor-element-286ee320 .btn-canvas svg {
    width: 28px;
    height: 28px;
}

.elementor-12 .elementor-element.elementor-element-286ee320 .elementor-wish .elementor-wish-icon i {
    color: #111111;
}

.elementor-12 .elementor-element.elementor-element-286ee320 .elementor-wish .elementor-wish-icon svg {
    fill: #111111;
}

.elementor-12 .elementor-element.elementor-element-286ee320 .elementor-wish .elementor-wish-icon[data-counter]:before {
    color: #ffffff;
    background-color: #ff5252;
    top: -0.3em;
    right: calc(0em - 0.6em);
}

.elementor-12 .elementor-element.elementor-element-286ee320>.elementor-widget-container {
    margin: 0px 20px 0px 0px;
}

.elementor-12 .elementor-element.elementor-element-286ee320 {
    width: auto;
    max-width: auto;
}

.elementor-12 .elementor-element.elementor-element-52df064c .elementor-cart__toggle .elementor-cart-icon i {
    font-size: 30px;
}

.elementor-12 .elementor-element.elementor-element-52df064c .elementor-cart__toggle .elementor-cart-icon svg {
    width: 30px;
    height: 30px;
}

.elementor-12 .elementor-element.elementor-element-52df064c .elementor-cart__title {
    font-size: 16px;
}

.elementor-12 .elementor-element.elementor-element-52df064c .elementor-cart__toggle .elementor-cart-icon[data-counter]:before {
    color: #ffffff;
    background-color: #ff5252;
    top: -0.3em;
    right: calc(0em - 0.6em);
}

.elementor-12 .elementor-element.elementor-element-52df064c .elementor-cart__close-button,
.elementor-12 .elementor-element.elementor-element-52df064c .elementor-cart__product-remove {
    color: #111111;
}

.elementor-12 .elementor-element.elementor-element-52df064c .elementor-cart__close-button:hover,
.elementor-12 .elementor-element.elementor-element-52df064c .elementor-cart__product-remove:hover {
    color: #ff5252;
}

.elementor-12 .elementor-element.elementor-element-52df064c .elementor-cart__product-remove {
    font-size: 18px;
}

.elementor-12 .elementor-element.elementor-element-52df064c .elementor-button--view-cart {
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    background-color: #000000;
}

.elementor-12 .elementor-element.elementor-element-52df064c a.elementor-button--view-cart:not(#e) {
    color: #ffffff;
}

.elementor-12 .elementor-element.elementor-element-52df064c a.elementor-button--view-cart:not(#e):hover,
.elementor-12 .elementor-element.elementor-element-52df064c a.elementor-button--view-cart:not(#e):focus {
    color: #ffffff;
}

.elementor-12 .elementor-element.elementor-element-52df064c .elementor-button--view-cart:hover,
.elementor-12 .elementor-element.elementor-element-52df064c .elementor-button--view-cart:focus {
    background-color: #ff5252;
    border-color: #ff5252;
}

.elementor-12 .elementor-element.elementor-element-52df064c .elementor-button--checkout {
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-color: rgba(17, 17, 17, 0);
    background-color: #ff5252;
}

.elementor-12 .elementor-element.elementor-element-52df064c a.elementor-button--checkout:not(#e) {
    color: #ffffff;
}

.elementor-12 .elementor-element.elementor-element-52df064c a.elementor-button--checkout:not(#e):hover,
.elementor-12 .elementor-element.elementor-element-52df064c a.elementor-button--checkout:not(#e):focus {
    color: #ffffff;
}

.elementor-12 .elementor-element.elementor-element-52df064c .elementor-button--checkout:hover,
.elementor-12 .elementor-element.elementor-element-52df064c .elementor-button--checkout:focus {
    background-color: #000000;
    border-color: #000000;
}

.elementor-12 .elementor-element.elementor-element-52df064c {
    width: auto;
    max-width: auto;
}

.elementor-12 .elementor-element.elementor-element-10fe88ef>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-12 .elementor-element.elementor-element-10fe88ef:not(.elementor-motion-effects-element-type-background),
.elementor-12 .elementor-element.elementor-element-10fe88ef>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #ffffff;
}

.elementor-12 .elementor-element.elementor-element-10fe88ef {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 23px 0px 23px 0px;
}

.elementor-12 .elementor-element.elementor-element-10fe88ef>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-12 .elementor-element.elementor-element-47e572b0.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-12 .elementor-element.elementor-element-47e572b0.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: center;
}

.elementor-12 .elementor-element.elementor-element-47e572b0>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-12 .elementor-element.elementor-element-47e572b0>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-12 .elementor-element.elementor-element-7c40f3ce #mobile-menu-icon i {
    font-size: 24px;
    fill: #111111;
    color: #111111;
}

.elementor-12 .elementor-element.elementor-element-7c40f3ce .avaorg-menu-horizontal .menu-item:hover>a,
.elementor-12 .elementor-element.elementor-element-7c40f3ce .avaorg-menu-vertical .menu-item:hover>a,
.elementor-12 .elementor-element.elementor-element-7c40f3ce .avaorg-menu-horizontal .menu-item.home>a,
.elementor-12 .elementor-element.elementor-element-7c40f3ce .avaorg-menu-vertical .menu-item.home>a,
.elementor-12 .elementor-element.elementor-element-7c40f3ce .avaorg-menu-horizontal .menu-item.active>a,
.elementor-12 .elementor-element.elementor-element-7c40f3ce .avaorg-menu-vertical .menu-item.active>a {
    color: #ff5252;
}

.elementor-12 .elementor-element.elementor-element-7c40f3ce {
    width: auto;
    max-width: auto;
}

.elementor-12 .elementor-element.elementor-element-0ae254f {
    text-align: left;
    width: auto;
    max-width: auto;
}

.elementor-12 .elementor-element.elementor-element-0ae254f .elementor-image img {
    width: 222px;
    max-width: 100%;
}

.elementor-12 .elementor-element.elementor-element-3c9c5ccd.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-12 .elementor-element.elementor-element-3c9c5ccd.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: center;
    justify-content: flex-end;
}

.elementor-12 .elementor-element.elementor-element-3c9c5ccd>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-12 .elementor-element.elementor-element-3c9c5ccd>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-12 .elementor-element.elementor-element-d2ee639 .ava-search-bar .search-category-field {
    display: block;
}

.elementor-12 .elementor-element.elementor-element-d2ee639 .elementor-button.search-button i::before {
    font-size: 24px;
}

.elementor-12 .elementor-element.elementor-element-d2ee639 .elementor-button.search-button svg {
    width: 24px;
    height: 24px;
}

.elementor-12 .elementor-element.elementor-element-d2ee639 .ava-search-bar .search-button i::before {
    font-size: 22px;
}

.elementor-12 .elementor-element.elementor-element-d2ee639 .ava-search-bar .search-button svg {
    width: 22px;
    height: 22px;
    fill: #ffffff;
}

.elementor-12 .elementor-element.elementor-element-d2ee639 #avasearch_block.ava-search-bar #searchbox {
    height: 45px;
    max-height: 45px;
}

.elementor-12 .elementor-element.elementor-element-d2ee639 .ava-search-bar #searchbox {
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #ff5252;
}

.elementor-12 .elementor-element.elementor-element-d2ee639 .ava-search-bar #searchbox .search-button {
    width: 45px;
    height: 42px;
    max-height: 42px;
    margin: 0px -1px 0px 0px;
}

.elementor-12 .elementor-element.elementor-element-d2ee639 .ava-search-bar .search-button i {
    color: #ffffff;
}

.elementor-12 .elementor-element.elementor-element-d2ee639 .ava-search-bar .search-button:hover i {
    color: #ffffff;
}

.elementor-12 .elementor-element.elementor-element-d2ee639 .ava-search-bar .search-button:hover svg {
    fill: #ffffff;
}

.elementor-12 .elementor-element.elementor-element-d2ee639 .ava-search-bar .search-button:hover {
    background-color: #ff5252;
}

.elementor-12 .elementor-element.elementor-element-d2ee639 .ava-search-bar .search-button {
    border-radius: 0px 3px 3px 0px;
}

.elementor-12 .elementor-element.elementor-element-d2ee639>.elementor-widget-container {
    margin: 0px 18px 0px 0px;
}

.elementor-12 .elementor-element.elementor-element-d2ee639 {
    width: auto;
    max-width: auto;
}

.elementor-12 .elementor-element.elementor-element-2743dbf0 .elementor-account .elementor-button {
    gap: 0px;
}

.elementor-12 .elementor-element.elementor-element-2743dbf0 .elementor-account .elementor-button i {
    font-size: 28px;
}

.elementor-12 .elementor-element.elementor-element-2743dbf0 .elementor-account .elementor-button svg {
    width: 28px;
    height: 28px;
}

.elementor-12 .elementor-element.elementor-element-2743dbf0 .ava-dropdown-wrapper .icon-toggle {
    font-size: 13px;
}

.elementor-12 .elementor-element.elementor-element-2743dbf0 .elementor-nav--main {
    line-height: 0em;
}

.elementor-12 .elementor-element.elementor-element-2743dbf0 .elementor-nav--main a.elementor-item:not(#e) {
    color: #111111;
}

.elementor-12 .elementor-element.elementor-element-2743dbf0 .elementor-item>i {
    color: #111111;
}

.elementor-12 .elementor-element.elementor-element-2743dbf0 .elementor-item>svg {
    fill: #111111;
}

.elementor-12 .elementor-element.elementor-element-2743dbf0 .elementor-nav--main a.elementor-item.elementor-item-active:not(#e),
.elementor-12 .elementor-element.elementor-element-2743dbf0 .elementor-nav--main a.elementor-item.highlighted:not(#e),
.elementor-12 .elementor-element.elementor-element-2743dbf0 .elementor-nav--main a.elementor-item:not(#e):hover,
.elementor-12 .elementor-element.elementor-element-2743dbf0 .elementor-nav--main a.elementor-item:not(#e):focus {
    color: #dd3842;
}

.elementor-12 .elementor-element.elementor-element-2743dbf0>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 15px 0px 0px;
}

.elementor-12 .elementor-element.elementor-element-2743dbf0 {
    width: auto;
    max-width: auto;
}

.elementor-12 .elementor-element.elementor-element-3d05a105 .btn-canvas i {
    font-size: 30px;
}

.elementor-12 .elementor-element.elementor-element-3d05a105 .btn-canvas svg {
    width: 30px;
    height: 30px;
}

.elementor-12 .elementor-element.elementor-element-3d05a105 .elementor-compare .elementor-compare-icon i {
    color: #111111;
}

.elementor-12 .elementor-element.elementor-element-3d05a105 .elementor-compare .elementor-compare-icon svg {
    fill: #111111;
}

.elementor-12 .elementor-element.elementor-element-3d05a105 .elementor-compare .elementor-compare-icon[data-counter]:before {
    color: #ffffff;
    background-color: #ff5252;
    top: -0.3em;
    right: calc(0em - 0.6em);
}

.elementor-12 .elementor-element.elementor-element-3d05a105>.elementor-widget-container {
    margin: 0px 22px 0px 0px;
}

.elementor-12 .elementor-element.elementor-element-3d05a105 {
    width: auto;
    max-width: auto;
}

.elementor-12 .elementor-element.elementor-element-2bdc53a2 .elementor-wish .btn-canvas {
    gap: 0px;
}

.elementor-12 .elementor-element.elementor-element-2bdc53a2 .btn-canvas .btn-canvas-text {
    margin: 0;
}

.elementor-12 .elementor-element.elementor-element-2bdc53a2 .btn-canvas i {
    font-size: 28px;
}

.elementor-12 .elementor-element.elementor-element-2bdc53a2 .btn-canvas svg {
    width: 28px;
    height: 28px;
}

.elementor-12 .elementor-element.elementor-element-2bdc53a2 .elementor-wish .elementor-wish-icon i {
    color: #111111;
}

.elementor-12 .elementor-element.elementor-element-2bdc53a2 .elementor-wish .elementor-wish-icon svg {
    fill: #111111;
}

.elementor-12 .elementor-element.elementor-element-2bdc53a2 .elementor-wish .elementor-wish-icon[data-counter]:before {
    color: #ffffff;
    background-color: #ff5252;
    top: -0.3em;
    right: calc(0em - 0.6em);
}

.elementor-12 .elementor-element.elementor-element-2bdc53a2>.elementor-widget-container {
    margin: 0px 20px 0px 0px;
}

.elementor-12 .elementor-element.elementor-element-2bdc53a2 {
    width: auto;
    max-width: auto;
}

.elementor-12 .elementor-element.elementor-element-56965509 .elementor-cart__toggle .elementor-cart-icon i {
    font-size: 30px;
}

.elementor-12 .elementor-element.elementor-element-56965509 .elementor-cart__toggle .elementor-cart-icon svg {
    width: 30px;
    height: 30px;
}

.elementor-12 .elementor-element.elementor-element-56965509 .elementor-cart__title {
    font-size: 16px;
}

.elementor-12 .elementor-element.elementor-element-56965509 .elementor-cart__toggle .elementor-cart-icon[data-counter]:before {
    color: #ffffff;
    background-color: #ff5252;
    top: -0.3em;
    right: calc(0em - 0.6em);
}

.elementor-12 .elementor-element.elementor-element-56965509 .elementor-cart__close-button,
.elementor-12 .elementor-element.elementor-element-56965509 .elementor-cart__product-remove {
    color: #111111;
}

.elementor-12 .elementor-element.elementor-element-56965509 .elementor-cart__close-button:hover,
.elementor-12 .elementor-element.elementor-element-56965509 .elementor-cart__product-remove:hover {
    color: #ff5252;
}

.elementor-12 .elementor-element.elementor-element-56965509 .elementor-cart__product-remove {
    font-size: 18px;
}

.elementor-12 .elementor-element.elementor-element-56965509 .elementor-button--view-cart {
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    background-color: #000000;
}

.elementor-12 .elementor-element.elementor-element-56965509 a.elementor-button--view-cart:not(#e) {
    color: #ffffff;
}

.elementor-12 .elementor-element.elementor-element-56965509 a.elementor-button--view-cart:not(#e):hover,
.elementor-12 .elementor-element.elementor-element-56965509 a.elementor-button--view-cart:not(#e):focus {
    color: #ffffff;
}

.elementor-12 .elementor-element.elementor-element-56965509 .elementor-button--view-cart:hover,
.elementor-12 .elementor-element.elementor-element-56965509 .elementor-button--view-cart:focus {
    background-color: #ff5252;
    border-color: #ff5252;
}

.elementor-12 .elementor-element.elementor-element-56965509 .elementor-button--checkout {
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-color: rgba(17, 17, 17, 0);
    background-color: #ff5252;
}

.elementor-12 .elementor-element.elementor-element-56965509 a.elementor-button--checkout:not(#e) {
    color: #ffffff;
}

.elementor-12 .elementor-element.elementor-element-56965509 a.elementor-button--checkout:not(#e):hover,
.elementor-12 .elementor-element.elementor-element-56965509 a.elementor-button--checkout:not(#e):focus {
    color: #ffffff;
}

.elementor-12 .elementor-element.elementor-element-56965509 .elementor-button--checkout:hover,
.elementor-12 .elementor-element.elementor-element-56965509 .elementor-button--checkout:focus {
    background-color: #000000;
    border-color: #000000;
}

.elementor-12 .elementor-element.elementor-element-56965509 {
    width: auto;
    max-width: auto;
}

.elementor-12 .elementor-element.elementor-element-72f55547>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-12 .elementor-element.elementor-element-72f55547:not(.elementor-motion-effects-element-type-background),
.elementor-12 .elementor-element.elementor-element-72f55547>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #ffffff;
}

.elementor-12 .elementor-element.elementor-element-72f55547 {
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: #e5e5e5;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 0px 0px 0px;
}

.elementor-12 .elementor-element.elementor-element-72f55547>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-12 .elementor-element.elementor-element-69e40892.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-12 .elementor-element.elementor-element-69e40892.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: center;
}

.elementor-12 .elementor-element.elementor-element-69e40892>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-12 .elementor-element.elementor-element-69e40892>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-12 .elementor-element.elementor-element-420676a9 .avaorg-menu-horizontal .menu-item>a,
.elementor-12 .elementor-element.elementor-element-420676a9 .avaorg-menu-vertical .menu-item>a {
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    padding: 11px 0px 11px 0px;
}

.elementor-12 .elementor-element.elementor-element-420676a9 .avaorg-menu-horizontal .menu-item>a,
.elementor-12 .elementor-element.elementor-element-420676a9 .avaorg-menu-vertical .menu-item>a {
    margin: 0px 20px 0px 20px;
}

.elementor-12 .elementor-element.elementor-element-420676a9 .avaorg-menu-vertical .title_vertical i {
    font-size: 24px;
    margin-right: 13px;
}

.elementor-12 .elementor-element.elementor-element-420676a9 .avaorg-menu-vertical .title_vertical {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 24px;
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: #e5e5e5;
    padding: 0px 20px 0px 0px;
}

.elementor-12 .elementor-element.elementor-element-420676a9 {
    width: 22.3%;
    max-width: 22.3%;
}

.elementor-12 .elementor-element.elementor-element-790cf486 .avaorg-menu-horizontal .menu-item>a,
.elementor-12 .elementor-element.elementor-element-790cf486 .avaorg-menu-vertical .menu-item>a {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.5px;
    padding: 13px 20px 13px 20px;
}

.elementor-12 .elementor-element.elementor-element-790cf486>.elementor-widget-container {
    margin: 0px 0px 0px 5px;
}

.elementor-12 .elementor-element.elementor-element-790cf486 {
    width: auto;
    max-width: auto;
}

.elementor-12 .elementor-element.elementor-element-1240d6e6.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-12 .elementor-element.elementor-element-1240d6e6.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: center;
    justify-content: flex-end;
}

.elementor-12 .elementor-element.elementor-element-1240d6e6>.elementor-column-wrap>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-12 .elementor-element.elementor-element-1240d6e6>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-12 .elementor-element.elementor-element-50f1c4a7 .elementor-text-editor {
    text-align: right;
}

.elementor-12 .elementor-element.elementor-element-50f1c4a7 {
    color: #111111;
}

.elementor-12 .elementor-element.elementor-element-50f1c4a7 a,
.elementor-12 .elementor-element.elementor-element-50f1c4a7 p {
    color: inherit;
}

.elementor-12 .elementor-element.elementor-element-50f1c4a7,
.elementor-12 .elementor-element.elementor-element-50f1c4a7 a,
.elementor-12 .elementor-element.elementor-element-50f1c4a7 p {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

@media(max-width:1199px) {
    .elementor-12 .elementor-element.elementor-element-6ca596b7 .ava-search-bar .search-category-field {
        display: block;
    }

    .elementor-12 .elementor-element.elementor-element-6ca596b7 #avasearch_block.ava-search-bar #searchbox {
        width: 460px;
    }

    .elementor-12 .elementor-element.elementor-element-6ca596b7 #avasearch_block.ava-search-bar:not(.box-search) .search-dropdown {
        width: 460px;
    }

    .elementor-12 .elementor-element.elementor-element-6ca596b7 .ava-search-bar #searchbox .form-control.query {
        width: 160px;
    }

    .elementor-12 .elementor-element.elementor-element-3e72431a>.elementor-widget-container {
        margin: 0px 17px 0px 0px;
        padding: 0px 17px 0px 0px;
    }

    .elementor-12 .elementor-element.elementor-element-d2ee639 .ava-search-bar .search-category-field {
        display: block;
    }

    .elementor-12 .elementor-element.elementor-element-420676a9>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }

    .elementor-12 .elementor-element.elementor-element-420676a9 {
        width: 230px;
        max-width: 230px;
    }

    .elementor-12 .elementor-element.elementor-element-790cf486 .avaorg-menu-horizontal .menu-item>a,
    .elementor-12 .elementor-element.elementor-element-790cf486 .avaorg-menu-vertical .menu-item>a {
        padding: 11px 16px 11px 16px;
    }
}

@media(max-width:991px) {
    .elementor-12 .elementor-element.elementor-element-6ca596b7 .ava-search-bar .search-category-field {
        display: none;
    }

    .elementor-12 .elementor-element.elementor-element-7c40f3ce {
        width: auto;
        max-width: auto;
    }

    .elementor-12 .elementor-element.elementor-element-d2ee639 .ava-search-bar .search-category-field {
        display: block;
    }

    .elementor-12 .elementor-element.elementor-element-d2ee639>.elementor-widget-container {
        margin: 0px 20px 0px 0px;
    }

    .elementor-12 .elementor-element.elementor-element-2743dbf0>.elementor-widget-container {
        margin: 0px 17px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
}

@media(max-width:767px) {
    .elementor-12 .elementor-element.elementor-element-6ca596b7 .ava-search-bar .search-category-field {
        display: none;
    }

    .elementor-12 .elementor-element.elementor-element-52df064c .elementor-cart__toggle .elementor-cart-icon i {
        font-size: 25px;
    }

    .elementor-12 .elementor-element.elementor-element-52df064c .elementor-cart__toggle .elementor-cart-icon svg {
        width: 25px;
        height: 25px;
    }

    .elementor-12 .elementor-element.elementor-element-10fe88ef {
        padding: 18px 0px 18px 0px;
    }

    .elementor-12 .elementor-element.elementor-element-47e572b0 {
        width: 60%;
    }

    .elementor-12 .elementor-element.elementor-element-0ae254f .elementor-image img {
        width: 144px;
    }

    .elementor-12 .elementor-element.elementor-element-3c9c5ccd {
        width: 40%;
    }

    .elementor-12 .elementor-element.elementor-element-d2ee639 .ava-search-bar .search-category-field {
        display: none;
    }

    .elementor-12 .elementor-element.elementor-element-d2ee639 .elementor-button.search-button i::before {
        font-size: 20px;
    }

    .elementor-12 .elementor-element.elementor-element-d2ee639 .elementor-button.search-button svg {
        width: 20px;
        height: 20px;
    }

    .elementor-12 .elementor-element.elementor-element-d2ee639 .ava-search-bar .search-button i::before {
        font-size: 20px;
    }

    .elementor-12 .elementor-element.elementor-element-d2ee639 .ava-search-bar .search-button svg {
        width: 20px;
        height: 20px;
    }

    .elementor-12 .elementor-element.elementor-element-d2ee639 .ava-search-bar #searchbox .form-control.query {
        width: 100px;
    }

    .elementor-12 .elementor-element.elementor-element-d2ee639>.elementor-widget-container {
        margin: 1px 15px 0px 0px;
    }

    .elementor-12 .elementor-element.elementor-element-2743dbf0 .elementor-account .elementor-button i {
        font-size: 24px;
    }

    .elementor-12 .elementor-element.elementor-element-2743dbf0 .elementor-account .elementor-button svg {
        width: 24px;
        height: 24px;
    }

    .elementor-12 .elementor-element.elementor-element-2743dbf0>.elementor-widget-container {
        margin: 0px 7px 0px 0px;
    }

    .elementor-12 .elementor-element.elementor-element-3d05a105 .btn-canvas i {
        font-size: 25px;
    }

    .elementor-12 .elementor-element.elementor-element-3d05a105 .btn-canvas svg {
        width: 25px;
        height: 25px;
    }

    .elementor-12 .elementor-element.elementor-element-3d05a105>.elementor-widget-container {
        margin: 0px 15px 0px 0px;
    }

    .elementor-12 .elementor-element.elementor-element-2bdc53a2 .btn-canvas i {
        font-size: 25px;
    }

    .elementor-12 .elementor-element.elementor-element-2bdc53a2 .btn-canvas svg {
        width: 25px;
        height: 25px;
    }

    .elementor-12 .elementor-element.elementor-element-2bdc53a2>.elementor-widget-container {
        margin: 0px 15px 0px 0px;
    }

    .elementor-12 .elementor-element.elementor-element-56965509 .elementor-cart__toggle .elementor-cart-icon i {
        font-size: 25px;
    }

    .elementor-12 .elementor-element.elementor-element-56965509 .elementor-cart__toggle .elementor-cart-icon svg {
        width: 25px;
        height: 25px;
    }
}

@media(min-width:768px) {
    .elementor-12 .elementor-element.elementor-element-6aa715a0 {
        width: 17%;
    }

    .elementor-12 .elementor-element.elementor-element-7e3a3f4b {
        width: 58%;
    }

    .elementor-12 .elementor-element.elementor-element-4af7bdfc {
        width: 27%;
    }

    .elementor-12 .elementor-element.elementor-element-69e40892 {
        width: 116%;
    }

    .elementor-12 .elementor-element.elementor-element-1240d6e6 {
        width: 22%;
    }
}

@media(max-width:1199px) and (min-width:768px) {
    .elementor-12 .elementor-element.elementor-element-6aa715a0 {
        width: 19%;
    }

    .elementor-12 .elementor-element.elementor-element-7e3a3f4b {
        width: 52%;
    }

    .elementor-12 .elementor-element.elementor-element-4af7bdfc {
        width: 29%;
    }

    .elementor-12 .elementor-element.elementor-element-47e572b0 {
        width: 50%;
    }

    .elementor-12 .elementor-element.elementor-element-3c9c5ccd {
        width: 50%;
    }
}

@media(max-width:991px) and (min-width:768px) {
    .elementor-12 .elementor-element.elementor-element-6aa715a0 {
        width: 19%;
    }

    .elementor-12 .elementor-element.elementor-element-7e3a3f4b {
        width: 49%;
    }

    .elementor-12 .elementor-element.elementor-element-4af7bdfc {
        width: 32%;
    }

    .elementor-12 .elementor-element.elementor-element-47e572b0 {
        width: 50%;
    }

    .elementor-12 .elementor-element.elementor-element-3c9c5ccd {
        width: 50%;
    }
}