.sidebar .scroll {
    max-height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.sidebar .scroll::-webkit-scrollbar {
    width: 5px !important;
    height: 5px !important;
}

.sidebar .scroll::-webkit-scrollbar-thumb {
    background: #ccc !important;
}

.css-13vpke-MuiSlider-root {
    height: 8px !important;
}

.css-xvk2i-MuiSlider-track {
    background-color: #fc4b03 !important;
}

.css-13vpke-MuiSlider-root {
    color: #fc4b03 !important;

}