.categoryPanel button{text-transform: capitalize !important;}

.nav li:hover >.submenu {
  opacity: 1;
  visibility: inherit; top: 100%;
}

.nav li .submenu {
 visibility: hidden;
}

.nav li .submenu button{font-weight: 500 !important;}
.nav li .submenu ul li:hover button {
  color: #fc4b03 !important;
}

.nav li .submenu  li .submenu{top: 0px !important; left: 120% !important; opacity: 0 !important;}
.nav li >.submenu  li:hover .submenu {
  opacity: 1 !important;
  left: 1000% !important;
}

.nav li >.submenu li .submenu button{color: rgba(0, 0, 0, 0.80) !important;}
.nav li .submenu li .submenu button:hover {
  color: #fc4b03 !important;
}

