@import "tailwindcss";
* {
  box-sizing: border-box;

}


/* custom scrollbar */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #fc4b03;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* layout container */
.container {
  width: 95%;
  margin: auto;
}

.btn-org {
  background: #fc4b03 !important;
  color: #fff !important;
  font-weight: 500;
  font-size: 16px;
  padding: 7px 20px !important;
}

.btn-org:hover {
  background: #555555 !important;
}

:root {
  --color-primary: #fc4b03;
}

/* Allow page scrolling */
html,
body,
#root {
  height: auto;
  min-height: 100%;
  overflow-y: auto;
  /* ensure vertical scrolling is enabled */
}

/* body typography */
body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;

  margin: 0;
  padding: 0;
  margin-bottom: 15px;
  margin-top: 8px;
  background: rgb(235, 233, 233);
}

/* helpers */
.link:hover {
  cursor: pointer;
  color: #fc4b03;
}

.MuiBadge-badge {
  background-color: #fc4b03 !important;
}

/* slider / swiper tweaks */
/* avoid setting global overflow to hidden on slider wrappers */
.sliderHome,
.homeCatSlider {
  overflow: visible !important;
}

/* default swiper navigation button styling */
.swiper-button-prev,
.swiper-button-next {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 100%;
  width: 45px;
  height: 45px;
  min-width: 45px;
  /* real box-shadow value (previous value was invalid) */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12) !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 20px !important;
  color: #000 !important;
}

/* page specific */
.homeBanner {
  background: #eeeded;
}

/* category slider smaller nav buttons */
.homeCatSlider .swiper-button-prev,
.homeCatSlider .swiper-button-next {
  width: 30px;
  height: 30px;
  min-width: 30px;
}

.homeCatSlider .swiper-button-prev::after,
.homeCatSlider .swiper-button-next::after {
  font-size: 16px !important;
}

/* move nav buttons slightly outside container */
.homeCatSlider .swiper-button-prev {
  left: -10px !important;
}

.homeCatSlider .swiper-button-next {
  right: -10px !important;
}

.homeCatSlider .item {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.homeCatSlider .swiper-button-prev:hover,
.homeCatSlider .swiper-button-next:hover {
  background: #fc4b03 !important;
}

.homeCatSlider .swiper-button-prev:hover::after,
.homeCatSlider .swiper-button-next:hover::after {
  color: #fff !important;
}

.smlBtn .swiper-button-prev,
.smlBtn .swiper-button-next {
  width: 25px;
  height: 25px;
  min-width: 25px;
  top: 50% !important;
}

.smlBtn .swiper-button-prev::after,
.smlBtn .swiper-button-next::after {
  font-size: 12px !important;
  color: #000 !important;
}

.MuiTabs-indicator {
  background-color: #fc4b03 !important;
}

.MuiTab-textColorPrimary.Mui-selected {
  color: #fc4b03 !important;
}

.productsSlider .swiper-wrapper {
  padding-bottom: 15px;
  margin-right: -15px;
}

.swiper-pagination-bullet-active {
  background-color: #ff5252 !important;
}

.homeSliderV2 .swiper-slide-active .info {
  right: 0px !important;
  opacity: 1;
}

.homeSliderV2 .swiper-slide-active .info h4 {
  right: 0px !important;
  opacity: 1;
}

.homeSliderV2 .swiper-slide-active .info h3 {
  right: 0px !important;
  opacity: 1;
}

.homeSliderV2 .swiper-slide-active .info h2 {
  right: 0px !important;
  opacity: 1;
}

.homeSliderV2 .swiper-slide-active .info .btn_ {
  right: 0px !important;
  opacity: 1;
}

.homeSliderV2 .info h4 {
  transition-duration: 1.2s;
}

.homeSliderV2 .info h2 {
  transition-duration: 1.5s;
}

.homeSliderV2 .info h3 {
  transition-duration: 1.8s;
}

.homeSliderV2 .info .btn_ {
  transition-duration: 2.1s;
}

.MuiCheckbox-root {
  padding: 6px ! important;
}

.ReactCollapse--collapse {
  transition: height 400ms;
}

.itemViewActions button.active svg {
  color: #fc4b03 !important;
  opacity: 1;
}

.Mui-selected.MuiPaginationItem-page {
  background: #fc4b03 !important;
  color: #fff !important;
}

.btn-lg {
  font-size: 18px;
  padding: 10px 20px !important;
}

footer form input ::placeholder {
  font-size: 14px;
}

footer form input::placeholder {
  font-size: 14px;
}

.css-imrjgg-MuiButtonBase-root-MuiCheckbox-root.Mui-checked,
.css-imrjgg-MuiButtonBase-root-MuiCheckbox-root.MuiCheckbox-indeterminate {
  color: #fc4b03 !important;
}

.MuiFormControlLabel-label {
  font-size: 13px !important;
  color: rgba();
}

.swiper-button-prev, .swiper-button-next {
    svg {

      height:50% ! important;
      color: #fc4b03 !important;
    }}