@import "tailwindcss";
@import "./responsive.css";

* {
  box-sizing: border-box;
  scroll-behavior: smooth !important;

}



header{
  overflow-x: hidden !important;
}

p {
  font-size: 14px;
  line-height: 25px;
  margin-bottom: 10px;
  margin-top:10px;
}

h1,h2,h3,h4,h5,h6{font-weight: 600;}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #fc4b03;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* layout container */
.container {
  width: 95%;
  margin: auto;
}

.btn-org {
  background: #fc4b03 !important;
  color: #fff !important;
  font-weight: 500;
  font-size: 16px;
  padding: 7px 20px !important;
}

.btn-org:hover {
  background: black !important;
}


.btn-org.btn-border {
  background: none !important;
  color: #ff5252 !important;
  border: 1px solid #ff5252 !important;
  font-weight: 500;
  font-size: 16px;
  padding: 7px 10px !important;
}

.btn-org.btn-border:hover {
  background: #171717 !important;
  color: #fff !important;
  border: 1px solid #171717 !important;
}

:root {
  --color-primary: #fc4b03;
}

/* Allow page scrolling */
html,
body,
#root {
  height: auto;
  min-height: 100%;
 
  /* ensure vertical scrolling is enabled */
}

/* body typography */
body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;


  margin-bottom: 15px;
  margin-top: 4px;
  background: #f5f0f0;
  color: #3b3b3b;
  overflow-x: hidden;
}

/* helpers */
.link:hover {
  cursor: pointer;
  color: #fc4b03;
}

.MuiBadge-badge {
  background-color: #fc4b03 !important;
}

/* slider / swiper tweaks */
/* avoid setting global overflow to hidden on slider wrappers */
.sliderHome,
.homeCatSlider {
  overflow: visible !important;
}

/* default swiper navigation button styling */
.swiper-button-prev,
.swiper-button-next {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 100%;
  width: 45px;
  height: 45px;
  min-width: 45px;
  /* real box-shadow value (previous value was invalid) */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12) !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 20px !important;
  color: #000 !important;
}

/* page specific */
.homeBanner {
  background: #eeeded;
}

/* category slider smaller nav buttons */
.homeCatSlider .swiper-button-prev,
.homeCatSlider .swiper-button-next {
  width: 30px;
  height: 30px;
  min-width: 30px;
}

.homeCatSlider .swiper-button-prev::after,
.homeCatSlider .swiper-button-next::after {
  font-size: 16px !important;
}

/* move nav buttons slightly outside container */
.homeCatSlider .swiper-button-prev {
  left: -10px !important;
}

.homeCatSlider .swiper-button-next {
  right: -10px !important;
}

.homeCatSlider .item {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.homeCatSlider .swiper-button-prev:hover,
.homeCatSlider .swiper-button-next:hover {
  background: #fc4b03 !important;
}

.homeCatSlider .swiper-button-prev:hover::after,
.homeCatSlider .swiper-button-next:hover::after {
  color: #fff !important;
}

.smlBtn .swiper-button-prev,
.smlBtn .swiper-button-next {
  width: 25px;
  height: 25px;
  min-width: 25px;
  top: 50% !important;
}

.smlBtn .swiper-button-prev::after,
.smlBtn .swiper-button-next::after {
  font-size: 12px !important;
  color: #000 !important;
}

.MuiTabs-indicator {
  background-color: #fc4b03 !important;
}

.MuiTab-textColorPrimary.Mui-selected {
  color: #fc4b03 !important;
}

.productsSlider .swiper-wrapper {
  padding-bottom: 15px;
  margin-right: -15px;
}

.swiper-pagination-bullet-active {
  background-color: #ff5252 !important;
}

.homeSliderV2 .swiper-slide-active .info {
  right: 0px !important;
  opacity: 1;
}

.homeSliderV2 .swiper-slide-active .info h4 {
  right: 0px !important;
  opacity: 1;
}

.homeSliderV2 .swiper-slide-active .info h3 {
  right: 0px !important;
  opacity: 1;
}

.homeSliderV2 .swiper-slide-active .info h2 {
  right: 0px !important;
  opacity: 1;
}

.homeSliderV2 .swiper-slide-active .info .btn_ {
  right: 0px !important;
  opacity: 1;
}

.homeSliderV2 .info h4 {
  transition-duration: 1.2s;
}

.homeSliderV2 .info h2 {
  transition-duration: 1.5s;
}

.homeSliderV2 .info h3 {
  transition-duration: 1.8s;
}

.homeSliderV2 .info .btn_ {
  transition-duration: 2.1s;
}

.MuiCheckbox-root {
  padding: 6px ! important;
}

.ReactCollapse--collapse {
  transition: height 400ms;
}

.itemViewActions button.active svg {
  color: #fc4b03 !important;
  opacity: 1;
}

.Mui-selected.MuiPaginationItem-page {
  background: #fc4b03 !important;
  color: #fff !important;
}

.btn-lg {
  font-size: 18px;
  padding: 10px 20px !important;
}

.btn-sm {
  font-size: 12px !important;
  padding: 5px 20px !important;
}

footer form input ::placeholder {
  font-size: 14px;
}

footer form input::placeholder {
  font-size: 14px;
}

.css-imrjgg-MuiButtonBase-root-MuiCheckbox-root.Mui-checked,
.css-imrjgg-MuiButtonBase-root-MuiCheckbox-root.MuiCheckbox-indeterminate {
  color: #fc4b03 !important;
}

.MuiFormControlLabel-label {
  font-size: 13px !important;
  color: rgba();
}

.swiper-button-prev,
.swiper-button-next {
  svg {

    height: 50% ! important;
    color: #fc4b03 !important;

    z-index: 50 !important;
    /* higher than slide container */

  }
}

.swiper {
  position: relative;
}

.zoomProductSliderThumbs .swiper-slide {
  height: auto !important;
}

.zoomProductSliderThumbs .swiper-button-next {
  display: none;
}

.zoomProductSliderThumbs .swiper-button-prev {
  display: none;
}

.productContent .actions button {
  min-width: 40px !important;
  height: 30px !important;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  color: rgba(0, 0, 0, 0.7);
}

input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
#size-menu .MuiButtonBase-root {
  font-size: 12px !important;
}

.scroll::-webkit-scrollbar {
  width: 5px !important;
}

.scroll::-webkit-scrollbar-thumb {
  background: #ccc !important;
}

#account-menu .MuiPaper-root {
  width: 200px !important;
}

/* Account Menu Width */
#account-menu .MuiPaper-root {
  width: 200px !important;
}

/* Account Tabs Indicator */
.myAccountTabs li a {
  position: relative;
}

.myAccountTabs li a {
  position: relative;
  display: block;
}

.myAccountTabs li a:before {
  content: '';
  width: 3px;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 0px;
  background: #ff5252;
  transition: all 0.3s ease-in-out;
  opacity:0;
  
}

.myAccountTabs li a.active::before {
  height: 100%;
  opacity: 1;
  top: 0px;
}

.myAccountTabs li a.active button svg {
  color: #ff5252 !important;
  opacity: 1 !important;
}

.overflow-x-auto::-webkit-scrollbar-thumb {
  background: #ccc;
}

.reviewScroll::-webkit-scrollbar {
  width: 5px !important;
}

.reviewScroll::-webkit-scrollbar-thumb {
  background: #ccc !important;
}

  
 